#root {
  max-width: 1280px;
  margin: auto auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
